HOST=127.0.0.1
PORT=4000
CORS_ORIGIN=http://localhost:3000
SUPABASE_URL=https://bxbujymsdgsgbhcuaylf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4YnVqeW1zZGdzZ2JoY3VheWxmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTM3NzAxNywiZXhwIjoyMTA0OTUzMDE3fQ.PhyfIWvVetuz6n_zfeFISOgweM1XILoBiuXxXTO-kqE
SUPABASE_PASSWORD=*?H_T6_SDyPG@q9
SUPABASE_REF=bxbujymsdgsgbhcuaylf
RESEND_API_KEY=
RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_MS=900000
